{% extends 'base.html' %}
{% block content %}

  <div class="container">
    <a href="{% url 'leaderboard:contact' %}"><h4><span class="glyphicon glyphicon-user">Upload Business Contact Info</span></h4></a>
  </div>


  <div class="container">
    <a href="{% url 'leaderboard:project' %}"><h4><span class="glyphicon glyphicon-file">Upload User Projects</span></h4></a>
  </div>

  <div class="container">
    <a href="{% url 'leaderboard:skill' %}" ><h4><span class="glyphicon glyphicon-briefcase">Upload User Skills</span></h4></a>
  </div>


{% endblock %}
