{% load compress %}
{% load i18n static forum_tags thumbnail %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      {% block title %}{% block head_title %}<title>Forum</title>{% endblock head_title %}{% endblock title %}
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% compress css %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />


      <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.tagsinput.css' %}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-suggest.css' %}">

      {% block extra_cs %}

      {% endblock %}

      {% endcompress %}
   </head>
   <body>
   <header>
      <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header pad_lr_0 col-md-3 col-sm-3 col-xs-4">
          <a class="navbar-brand" href="{% url "myforum:topic_list" %}">Forum</a>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-8 pad_lr_0 nav_right text-right">
            <div class="row no_row_margin header_right">
               <form action="" class="search-form">
                   <div class="form-group has-feedback">
                     <label for="search" class="sr-only">Search</label>
                     <input type="text" class="form-control" name="search" id="search" placeholder="search">
                     <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
               </form>

              <ul class="login_block">
              {% if not request.user.is_authenticated %}
                <li><a href="{% url "account_login" %}" ><i class="fas fa-sign-in-alt"></i> <span>Sign In</span></a></li>
                <li><a href="{% url "account_signup" %}"><i class="fas fa-user-plus"></i> <span>Sign Up</span></a></li>
              {% else %}
                <li><a href="{% url "account_change_password" %}"><i class="fas fa-sign-out-alt"></i> <span>Change Password</span></a></li>
                <li><a href="{% url "account_logout" %}"><i class="fas fa-sign-out-alt"></i> <span>Sign Out</span></a></li>
                <li><a href="{% url "users:view_profile" request.user.id request.user.username %}"><i class="fas fa-user"></i> <span>Profle</span></a></li>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </nav>
   </header>

<div class="main_container">
     <div class="container">
  {% block content %}
  {% endblock %}
    </div>
  </div>
    {% block footer %}
      <!-- [ Layout footer ] Start -->
      <nav class="layout-footer footer footer-light">
          <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
              <div class="pt-3">
                  <span class="float-md-right d-none d-lg-block"> Etentlabs | Django Africa</span>
              </div>
              <div>
                  <a href="{% url 'about' %}" class="footer-link pt-3">{% trans "About Us" %}</a>
                  <a href="javascript:" class="footer-link pt-3 ml-4">{% trans "Help" %}</a>
                  <a href="javascript:" class="footer-link pt-3 ml-4">{% trans "Contact" %}</a>
                  <a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
              </div>
          </div>
      </nav>
      <!-- [ Layout footer ] End -->
    {% endblock footer %}
   </body>
  {% compress js %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
   <script src="https://malsup.github.com/jquery.form.js"></script>
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>


    <script type="text/javascript" src="{% static 'js/jquery.tagsinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-suggest.js' %}"></script>
   <!-- select2 -->
   <script>
    $( document ).ready(function() {
      $(".select2").select2({
        tags: true
      });
      $(".js-example-basic-single, .js-example-basic-single1").select2();
    });
   </script>

   <!-- tags script -->
  <script type="text/javascript">
    $(function() {
      $('#id_tags').tagsInput({
        width: 'auto',
        onChange: function(elem, elem_tags)
        {
          var languages = ['php','ruby','javascript'];
          $('.tag', elem_tags).each(function()
          {
            if($(this).text().search(new RegExp('\\b(' + languages.join('|') + ')\\b')) >= 0)
              $(this).css('background-color', 'yellow');
          });
        }
      });
    });
  </script>
    {% block extra_js %}

    {% endblock %}

   {% endcompress %}
</html>
